
body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.divContainer{
    text-align: center;
    padding: 50px 150px 50px 150px;
}

.divResultado{
    border: solid 1px;
    margin: 60px;
}

.botonVerde{
    padding: 7px;
    width: 200px;
    height: 36px;
    background: #56a520;
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: -4px 5px #bababa;
}


td{
    border: solid 1px;
}